/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.11.2019, 14:21:12
    Author     : chris
*/

* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../pics/sternenhimmel.jpg");
       background-position: center;
       background-size: cover;
}
.site-header {
    background-image: url("../pics/moon1.jpg"); 
    background-position: center center;
    border-radius: 0px;
}

.Werwolf-Title {
    font-family: 'berry_rotundaregular';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: whitesmoke;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0;
    padding-right: 0;
}

.icon {
    height: 100px;
    width: 100px;
}

.spielleiter{
    background-image: url("../pics/bonfire.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10%;
    padding:2%;
    border-radius: 25px;
    
}

.leiste{
    margin: 5%;
    border: solid black;
}
.button{
    padding-bottom: 2%;
    color: whitesmoke;
}

.spieler{
    background-image: url("../pics/village.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 10%;
    padding:2%;
    border-radius: 25px;
    
}

.schrift{
    color: whitesmoke;
}

